* {
    margin: 0;
    padding: 0;
}

:root {
    --txt-color: #ffff;
}

h1 {
    color: var(--txt-color);
    font-family: 'Roboto-flex';
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
}

p {
    color: var(--txt-color);
    font-family: 'Roboto-flex';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #BBBBBB;
    font-family: 'Roboto-flex';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}